.News_Txt{
    background-color: white;
    width: calc(24vw - 20px);
    height: 37.5vh;
    padding: 10px;
    padding-top: 20px;
    margin-left: -33px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    position: relative;
    bottom: 4px;
    border-radius: 0px 0px 10px 10px;

}
.News_Image{

    width: 24vw;
    height: 55vh;
    margin-left: -33px;
    border-radius: 10px 10px 0px 0px;
}

.News_Title{
    width: 22.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin-left: -35px;
    color: white;
    height: 8vh;
    top: 30vh;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    font-family: 'DM Sans', sans-serif;
    
}


.ReadMore a{
    text-decoration: none;
    font-weight: 900;
}

.Nxt_News{
    position: absolute;
    bottom: 10px;
    color: darkblue;
    right: 10px;
    cursor: pointer;
}



#NxtBtn2 {
    background-color: #11B800;
    font-family: 'DM Sans', sans-serif;
    padding: 6px 24px;
    border: #11B800;
    border-radius: 14px;
    color: #fff;
    letter-spacing: 1.7px;
    font-size: .9rem;
    position: relative;
    top: 12px;
    margin-left: 63%;
}

#NxtBtn2:hover {
    transform: translateY(1px);
    cursor: pointer;
}


.Nws_Err{

    color: red;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    height: 68vh;
    width: 15vw;
    line-height: 1.5;

}