.fixedtxt{
    background-color: #F1C75B;
    border-radius: 10px 10px 0px 0px;
    border: #F1C75B;
    outline: #F1C75B;
    padding: 10px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    width: 29.4vw;
    margin-left: -70px;
    
}


.txt{
    display: inline-block;
    background-color: #F1C75B;
    outline: #F1C75B;
    border: #F1C75B;
    width: 29.4vw;
    height: 42.5vh;
    margin-left: -70px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    padding-top: 0px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    resize: none;
}
