.profile_picture{

    height: 81px;
    width: 81px;
    border-radius: 50%;
    display: inline;
    position: absolute;
    top: 23px;
    right: 3%;

}

.MainHeader{
    font-size: 3rem;
    font-family: 'Single Day', cursive;
    color: #72DB73;
    margin-top: 3.8vh;
    margin-left: 2vw;
}

.MainTxt{

    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-left: 43px;
    margin-top: 20px;
}


.genreHeadTitle{
    color: #878787;
    margin-top: 20px;
    margin-left: 48px;
    font-family: 'DM Sans', sans-serif;
    height: 40px;
    font-size: 20px;

}


.movies_posters{
    display: flex;
    justify-content: space-around;
}

.genreimg{
/* 
    height: 200px;
    width: 275px; */
    /* border-radius: 10px; */
   width: 341.93px;
   height: 192.33px;
   top: 267px;
   left: 92px;
   border-radius: 9.16px;

}