.profile_picture{

    height: 81px;
    width: 81px;
    border-radius: 50%;
    display: inline;
    position: absolute;
    top: 23px;
    right: 3%;

}

.MainHeader{
    font-size: 3rem;
    font-family: 'Single Day', cursive;
    color: #72DB73;
    margin-top: 3.8vh;
    margin-left: 2vw;
}

.MainTxt{

    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-left: 43px;
    margin-top: 20px;
}


.genreHeadTitle{
    color: #878787;
    margin-top: 20px;
    margin-left: 54px;
    font-family: 'DM Sans', sans-serif;
    height: 40px;
    font-size: 20px;

}


.movies_posters{
    display: flex;
    justify-content: space-around;
}

.genreimg{

   width: 300.93px;
   height: 178.33px;
   top: 267px;
   left: 92px;
   border-radius: 9.16px;

}

#NxtBtn3{
    background-color: #11B800;
    font-family: 'DM Sans', sans-serif;
    padding: 5px 20px;
    border: #11B800;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 1.2rem;
    position: relative;
    top: -955px;
    margin-left: 85.9%;
    margin-top: 1%;
}

#NxtBtn3:hover{
    transform: translateY(1px);
    cursor: pointer;
}