.maincontainer {
    display: flex;
  }


.LeftCont{

    width: 45vw;
    height: 90vh;
    padding-left: 5vw;
    padding-top: 8vh;

}

.text{
    color: #fff;
    font-size: 2.2rem;
    font-family: 'DM Sans', sans-serif;
    padding-top: 5%;
    line-height: 1.3;

}

#HeadTitle{
    font-size: 2.5rem;
    font-family: 'Single Day', cursive;
    color: #72DB73;
}


.RightCont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5vh;
    width: 47vw;
}



.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cardContainer {
    border: 4px solid;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 15px;
}

.cardContainer:hover {
    transform: translateY(1px);
    cursor: pointer;
}


.cardTitle {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    padding-top: 0;
}

.cardImage {
    width: 160px;
    height: 100px;
    padding: 0px 10px;
}

.NxtBtn1 {
    background-color: #11B800;
    font-family: 'DM Sans', sans-serif;
    padding: 5px;
    margin-left: 80%;
    border: #11B800;
    border-radius: 12px;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 1rem;
}

.NxtBtn1:hover {
    transform: translateY(1px);
    cursor: pointer;
}

@media screen and (max-width:768px) {

    .text {
        font-size: 2rem;
    }

    .RightCont {
        width: 65vw;
    }

    .LeftCont {
        width: 35vw;
    }
}




.cardContainer.clicked {
    border: 5px solid #11B800;
    border-style:solid;
}


.select{

    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;

}

.selected{
    background-color: #11B800;
    font-family: 'DM Sans', sans-serif;
    padding: 9px;
    padding-top: 3px;
    margin: 10px;
    border: #11B800;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1.3px;
    font-size: .8rem;
}

.CancelIcon{
    position: relative;
    top: 6px;
}


.CancelIcon:hover{
    cursor: pointer;
    color: red;
}

.Error{
    color: red;
    font-size: 1.1rem;
    margin-top: 25px;
    font-family: 'DM Sans', sans-serif;
}