@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Roboto&family=Single+Day&display=swap');

#title {
    color: #72DB73;
    font-family: 'Single Day', cursive;
    font-size: 2.5em;
    margin-top: 5vh;
}

.createtitle{
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
   
}

.RegisterationForm{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    gap: 0.5rem;
}

.data {
    width: 64%;
    height: 2.9rem;
    margin: 1%;
    padding-left: 3%;
    background-color: #292929;
    border: #292929;
    color: #fff;
}

#btn {
    font-size: 1em;
    font-weight: 600;
    width: 67%;
    height: 2.4rem;
    color: white;
    background-color: #72DB73;
    border: #72DB73;
    border-radius: 24px;
    margin: 10px 0px;
    cursor: pointer;
}


#checkbox1 {
    display: flex;
    position: relative;
    right: 6.9%;
    color: #7C7C7C;

}

#checkbox2 {
    height: 28px;
    margin-left: 10px;
}
.terms{
    color: #7C7C7C;
    width: 61%;
    font-size: 11px
    
}

.green {
    color: #72DB73;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 10px;

}

@media screen and (max-width: 748px) {
   
    .data {
        width: 80%;
    }

    .error {
        font-size: 10px;
    }
}